[MESSAGES CONTROL]
disable=
    bad-continuation,
    bad-option-value,
    bad-whitespace,  # Black deals with whitespace around operators and brackets
    consider-using-f-string,
    duplicate-code,
    fixme,
    invalid-name,
    locally-disabled,
    missing-docstring,
    no-else-raise,
    no-else-return,
    no-self-use,
    star-args,
    too-many-arguments,
    too-many-branches,
    too-many-lines,
    too-many-locals,
    too-many-nested-blocks,
    too-many-public-methods,
    ungrouped-imports,
    use-sequence-for-iteration,
    wrong-import-order,
    wrong-import-position

[FORMAT]
max-line-length=125

[REPORTS]
output-format=text
reports=no
