# Lock black to the same major version used in downstream build environments
black==21.6b0
flake8
# Lock mypy to the same major version used in downstream build environments
mypy>=0.931,<1.0
# Lock types-requests to the same major version used in downstream build environments
types-requests>=2.26.1,<3.0
# Lock pylint to the same major version used in downstream build environments
pylint>=2.12.2,<3.0
pytest
# Lock isort to the same major version used in downstream build environments
isort>=5.10.1,<6.0
# To prevent black from breaking (https://github.com/psf/black/issues/2964, https://github.com/psf/black/pull/2966)
click < 8.1.0
