flake8
# Lock mypy to the same major version used in downstream build environments
mypy>=0.931,<1.0
# Lock pylint to the same major version used in downstream build environments
pylint>=2.12.2,<3.0
pytest
# Lock isort to the same major version used in downstream build environments
isort>=5.10.1,<6.0
# Lock yapf version for consistent formatting behavior.
yapf==0.27.0
